@model IEnumerable<HairStyleBookingApp.Models.PostModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Read latest posts</h1>

<p>
    @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" asp-action="Create">Create New Post</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.IdPost)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.IdEmployee)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.IdPost)
            </td>*@
           @* <td>
                @Html.DisplayFor(modelItem => item.IdEmployee)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                    @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new {  id=item.IdPost  }, new{@class="btn btn-warning"})
                    }
                    @Html.ActionLink("Details", "Details", new { id=item.IdPost  },new {@class="btn btn-info"})
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id=item.IdPost }, new{@class="btn btn-danger"})
                    }
                </td>
        </tr>
}
    </tbody>
</table>
