@model IEnumerable<HairStyleBookingApp.Models.ServiceModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Services</h1>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        <a class="btn btn-primary" asp-action="Create">Create New Service</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.IdService)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeInMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @* <td>
                @Html.DisplayFor(modelItem => item.IdService)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeInMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @if ( User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new {  id=item.IdService }, new{@class="btn btn-warning"})
                    }
                   
                    @Html.ActionLink("Details", "Details", new { id=item.IdService },new {@class="btn btn-info"})
                    @if ( User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id=item.IdService  }, new{@class="btn btn-danger"})
                    }
                    
            </td>
        </tr>
}
    </tbody>
</table>
