@model HairStyleBookingApp.ViewModels.AppointmentViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>

<h4>Make An Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4 text-end">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="IdAppointment" class="control-label"></label>
                <input asp-for="IdAppointment" class="form-control" />
                <span asp-validation-for="IdAppointment" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="IdClient" class="control-label">
                    @Html.LabelFor(m => m.ClientName)
                </label>
                @*<input asp-for="IdClient" class="form-control" />*@
                @* @Html.DropDownList("IdClient", @ViewBag.ClientList, "", new{})*@
                    <select asp-for="IdClient" class="form-select">
                    @foreach(var client in Model.Clients)
                    { 
                        <option value="@client.IdClient">@client.Name</option>
                    }
                    </select>
               <span asp-validation-for="IdClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdService" class="control-label">
                    @Html.LabelFor(m => m.ServiceName)
                </label>
               @* <input asp-for="IdService" class="form-control" />*@
               @* @Html.DropDownList("IdService", @ViewBag.ServiceList, "", new{})*@
                @*<span asp-validation-for="IdService" class="text-danger"></span>*@
                <select asp-for="IdService" class="form-select">
                    @foreach (var service in Model.Services)
                    {
                        <option value="@service.IdService">@service.ServiceName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IdEmployee" class="control-label">
                    @Html.LabelFor(m => m.EmployeeName)
                </label>
                @*<input asp-for="IdEmployee" class="form-control" />*@
               @* @Html.DropDownList("IdEmployee", @ViewBag.EmployeeList, "", new{})*@
               @* <span asp-validation-for="IdEmployee" class="text-danger"></span>*@
                <select asp-for="IdEmployee" class="form-select">
                    @foreach (var employee in Model.Employees)
                    {
                        <option value="@employee.IdEmployee">@employee.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="StartsAt" class="control-label"></label>
                <input asp-for="StartsAt" class="form-control" />
                <span asp-validation-for="StartsAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndsAt" class="control-label"></label>
                <input asp-for="EndsAt" class="form-control" />
                <span asp-validation-for="EndsAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Appointment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
    @if (User.IsInRole("Employee") || User.IsInRole("Admin") @*|| User.IsInRole("User")*@)
    {
    <a class="btn btn-success" asp-action="Index">Back to Appointments List</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
