@model HairStyleBookingApp.ViewModels.AppointmentViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Appointment</h1>

<h4>@*AppointmentModel*@</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class="form-group">
                <label asp-for="IdAppointment" class="control-label"></label>
                <input asp-for="IdAppointment" class="form-control" />
                <span asp-validation-for="IdAppointment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdClient" class="control-label">
                    @Html.LabelFor(m => m.ClientName)
                </label>
                <select asp-for="IdClient" class="form-select">
                    @foreach (var client in Model.Clients)
                    {
                        <option value="@client.IdClient">@client.Name</option>
                    }
                </select>

                <span asp-validation-for="IdClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdService" class="control-label">
                    @Html.LabelFor(m => m.ServiceName)
                </label>
                <select asp-for="IdService" class="form-select">
                    @foreach (var service in Model.Services)
                    {
                        <option value="@service.IdService">@service.ServiceName</option>
                    }
                </select>

                <span asp-validation-for="IdService" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEmployee" class="control-label">
                    @Html.LabelFor(m => m.EmployeeName)
                </label>
                <select asp-for="IdEmployee" class="form-select">
                    @foreach (var employee in Model.Employees)
                    {
                        <option value="@employee.IdEmployee">@employee.Name</option>
                    }
                </select>

                <span asp-validation-for="IdEmployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartsAt" class="control-label"></label>
                <input asp-for="StartsAt" class="form-control" />
                <span asp-validation-for="StartsAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndsAt" class="control-label"></label>
                <input asp-for="EndsAt" class="form-control" />
                <span asp-validation-for="EndsAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
    {
        <a asp-action="Index">Back to List</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
