@model IEnumerable<HairStyleBookingApp.ViewModels.AppointmentViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Appointments</h1>

<p>
    <a class = "btn btn-primary" asp-action="Create">Create New Appointment</a>
</p>
<table class="table">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.IdAppointment)
            </th>*@
           @* <th>
                @Html.DisplayNameFor(model => model.IdClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmployee)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.StartsAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndsAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @* <td>
                @Html.DisplayFor(modelItem => item.IdAppointment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmployee)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.StartsAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndsAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {id=item.IdAppointment}, new{@class="btn btn-warning"}) 
                    @Html.ActionLink("Details", "Details", new {  id=item.IdAppointment }, new {@class="btn btn-info"}) 
                    @Html.ActionLink("Delete", "Delete", new { id=item.IdAppointment }, new{@class="btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
