@model IEnumerable<HairStyleBookingApp.Models.AppointmentModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAppointment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartsAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndsAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAppointment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdService)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IdEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartsAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndsAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdAppointment }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.IdAppointment }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.IdAppointment  })
            </td>
        </tr>
}
    </tbody>
</table>
